/* General Style */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.difficulty {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

/* Game Image Buttons */
.image {
    width: 100%;
    /* Gives images circular border */
    border-radius: 50%;
}

.player-choice {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 40px;
}

.player-choice img {
    max-height: 500px;
}

.computer-choice {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.computer-choice img {
    max-height: 500px;
}

img {
    max-width: 100%;
}

.btn {
    border: 1px solid transparent;
}

.player-choice .btn:focus,
.player-choice .btn:hover {
    background-color: grey;
}

/* Gives images background that did not have one */
.player-choice>button,
.computer-choice>button {
    background: white;
    border-radius: 50%;
}

.tally-area {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}

.reset-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-button {
    padding: 12px 24px;
    font-size: 24px;
    border-width: 4px;
    border-style: solid;
}

.reset-button:hover {
    background-color: grey;
}