/* General Style */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Game Image Buttons */
.image {
    width: 100%;
    /* Gives images circular border */
    border-radius: 50%;
}

.player-choice {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.player-choice img {
    max-height: 1000px;
}

.computer-choice {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.computer-choice img {
    max-height: 1000px;
}

img {
    max-width: 100%;
}

.btn {
    border: 1px solid transparent;
}

/* Gives images background that did not have one */
.paper {
    background: white;
    border-radius: 50%;
}

.sponge {
    background: white;
    border-radius: 50%;
}

.air {
    background: white;
    border-radius: 50%;
}