/* General Style */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.play-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

/* Choice boxes */
.choice-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 5px;
}

.choice {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 2px solid #000;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    vertical-align: top;
}

.box-label {
    font-weight: bold;
}

.choice img {
    max-width: 100%;
    max-height: 100%;
    /* To stop images from spilling out of the boxes */
    object-fit: contain;
}

/* Result box */
.result-box {
    border: 2px solid #000;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.375em;
}

/* Game Image Buttons */
.image {
    width: 100%;
    /* Gives images circular border */
    border-radius: 50%;
}

.player-choice {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin-top: 20px;
}

.player-choice>button {
    width: 200px;
    height: 200px;
    margin: 5px 0;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid transparent;
    margin: 0 20px;
}

.player-choice>button:focus,
.player-choice>button:hover {
    background-color: #808080;
    border: 2px solid #000;
    cursor: pointer;
}

.player-choice img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

img {
    max-width: 100%;
}

.btn {
    border: 1px solid transparent;
    margin: 0 20px;
}

/* Score area */
.tally-area {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}

.scores {
    margin: 0 30px 10px 30px;
}

/* Reset button */
.reset-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.reset-button {
    padding: 12px 24px;
    font-size: 24px;
    border-width: 4px;
    border-style: solid;
}

.reset-button:hover {
    background-color: grey;
    cursor: pointer;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    text-align: center;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
}

/* Restart Button */
.restart-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restart-button:hover {
    background-color: #005C87;
    cursor: pointer;
}

/* Media query for smaller screens, e.g., tablets and phones */
@media screen and (max-width: 768px) {

    .choice {
        width: 150px;
        height: 150px;
        margin: 5px 0;
        padding: 5px;
    }

    .result-box {
        font-size: 1em;
    }

    .player-choice>button {
        width: 100px;
        height: 100px;
        margin: 5px 0;
        padding: 5px;
    }

    .player-choice img {
        max-height: 100%;
        max-width: 100%;
    }

    .scores {
        margin: 0 20px 10px 20px;
    }

    .rules p {
        font-size: 14px;
    }

    .box-label {
        font-size: 14px;
    }

    /* Remove margin for button class */
    .btn {
        margin: 0;
    }
}

/* Media query for mobile phones */
@media screen and (max-width: 480px) {
    .play-area {
        padding: 5px;
    }

    .choice {
        width: 100px;
        height: 100px;
        margin: 3px 0;
        padding: 3px;
    }

    .player-choice>button {
        width: 80px;
        height: 80px;
        margin: 5px 0;
        padding: 5px;
    }

    .player-choice img {
        max-height: 100%;
        max-width: 100%;
    }

    .box-label {
        font-size: 8px;
    }
}